* {
    line-height: 1.5;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    color: orangered;
    margin: 10px;
}

h3 {
    border: 1px solid orangered;
    text-transform: uppercase;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}

.recipe-ingredients {
    font-style: italic;
}

