* {
    line-height: 1.5;
    align-items: center;
    padding-top: -10px;
    padding-bottom: -10px;
    padding-left: 10px; 
}
/* 
h1 {
    font-size: 40px;
    font-weight: bolder;
    color: orangered;
    margin: 10px;
} */

h1, h3 {
    border-bottom: 1px solid orangered;
    text-transform: uppercase;
}

h1 {
    font size: 40px;
}

h3 {
    font-size: 28px;
}

body {
    font-family: 'Roboto Slab', serif;

}

#description {
    font-weight: bold;
}

ul {
    list-style: none;
}

.recipe-ingredients {
    font-style: italic;
}

.pic {
    width: 800px;
}

.pic.chef {
    width: 600px;
}
